body {
  background-color: black;
  color: #FFE7E4;
}

svg {
    background-color: steelblue;
}

.content {
    fill: lightsteelblue;
}

.label {
    fill: white;
    font-size: x-large;
    font-weight: bolder;
}
